.about-phone {
  bottom: 150px;
  left: 100px;
  text-align: center;
  background-color: white;
  width: 566px;
  height: 120px;
  padding: 16px 0;
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
}
.about-phone p:nth-child(2) {
  font-size: 25px;
  color: #ce1212;
}
.about-title {
  margin-top: 55px;
  margin-bottom: 35px;
  line-height: 3;
}
.about-title p:nth-child(1) {
  color: #7f7f90;
  font-size: 15px;
  font-weight: 500;
}
.about-title p:nth-child(2) {
  font-size: 24px;
  font-family: myabout;
}
.custom-padding-r {
  padding-right: 30px;
}
.custom-padding-l {
  padding-left: 40px;
}
.about-content {
  padding: 10px 0;
}
.about-content i {
  margin-right: 3px;
  color: #ce1212;
  vertical-align: -1px;
  font-size: 17px;
}
.about-img2 img {
  height: 286px;
  width: 488px;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
    .about-phone{
    width: 300px;
    height: 110px;
    font-size: 14px;
    padding: 10px 0;
    }
}
@media screen and (max-width: 1400px){
    .custom-padding-r img{
        width: 100%;
    }
    .about-content{
        width: 100%;
    }
    .about-img2 img{
        width: 100%;
    }
}